/* Contoh custom CSS */
.navbar {
    background-color: #007bff !important; /* Mengubah navbar menjadi biru */
}
.navbar-brand {
    color: white !important; /* Mengubah teks navbar menjadi putih */
}
body {
    background-color: #b3cde0;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #6497b1;
    color: white;
    font-weight: bold;
}

.btn {
    background-color: #03396c;
    color: white;
}

.btn:hover {
    background-color: #011f4b;
}

